/* Set up the colors for light and dark themes */
:root {
  --background-light: #fff;
  --background-dark: #333;
  --text-light: #333;
  --text-dark: #fff;
}

/* Styles for light theme */
.light {
  background-color: var(--background-light);
  color: var(--text-light);
}

/* Styles for dark theme */
.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.App {
  transition: background-color 0.3s;
  text-align: center;
  font-family: Arial, sans-serif;
}

.timer {
  font-size: 48px;
  margin: 20px;
}

.buttons button, .mode-selector button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.mode-selector button {
  background-color: #f0f0f0;
}
